tr td {
    border-bottom: 1px solid rgb(172, 163, 163);
    border-collapse: collapse;
    width: 20vw;
}

.vert {
    background-color: limegreen;
    font-weight: 900;
}

.table2 tr td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    width:2vw;
    text-align: center;
}
